<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Filament" %></title>

    <%= stylesheet_link_tag "main" %>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Open+Sans:400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  </head>
    <body class="<%= page_classes %>">
      <header>
        <div class="container-fluid">
          <div class="row">
            <a class="logo" href="http://filament.io">Filament</a>
            <div class="menu-button">
              <a href="#">Menu</a>
            </div>
          </div>
        </div>
      </header>

      <div class="intro">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-md-offset-2 app-tile">
              <%= image_tag 'ivy-tile.png' %>
            </div>
            <div class="intro-copy col-md-5">
              <h1 id="ivy">Ivy</h1>
              <p>Share the parts of content that matter to you.</p>
              <a class="primary-cta" href="#">Install Ivy</a>
              <a class="secondary-cta light" href="#view-demo">View Demo</a>
            </div>
          </div>
        </div>
      </div>

      <div class="demo container-fluid" id="view-demo">
        <p class="instrux">Highlight anywhere on the article to see Ivy spring to life.</p>
        <div class="demo-pane">
          <div class="browser-top">
            <span></span>
          </div>
          <div class="article-text">
            <h2>A title including a buzzword and a exaggerated adjective.</h2>
            <p>This is just and example article that is solely here to illustrate exactly how Ivy actually works. If you highlight any portion of the text, you’ll see a really nice example of how Ivy could work and create a better sharing experience on your site and any site you visit.</p>
            <h4>Pretty cool, right?</h4>
            <p>We think so too! You can launch Ivy right now to any website totally free. Not to mention all the other apps you have access to through Filament. Just drag and drop and you're all set to start getting better shares with more context and a beautiful, simple sharing experience.</p>

          </div>
          <!-- <div class="fade"></div> -->
        </div>
        <div class="demo-cta">
          <a class="primary-cta" href="#">Install Ivy for Free</a>
          <!-- <a class="secondary-cta" href="#">Close Demo</a> -->
        </div>
      </div>

      <div class="use-cases">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>You should use <span>Ivy</span> if you want <strong id="add-character"></strong></p>

              <ul id="use-case-list">

              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="post-content">

          <h2>A dead simple and elegant way to share more effectively</h2>
          <hr />
          <%= image_tag 'ivy-in-use.gif', :class => 'alignright' %>
          <h4>Most sharing tools only let you share the page</h4>
          <p>Ivy lets your visitors select the parts of content that matter to them, by simply highlighting the text and sharing that directly. See the demo</p>
          <a href="#view-demo">See the demo</a>
          <hr />
          <%= image_tag 'ivy-backend.jpg', :class => 'alignleft' %>
          <h4>Encourage visitors what to share</h4>
          <p>As a content creator, Ivy enables you to easily curate which content is ripe for sharing. You can easily add bits of content in the app.</p>

          <ul>
            <li>Add sharable snippets as you compose your content</li>
            <li>Or select shareable snippets on existing content</li>
          </ul>
          <hr />
          <%= image_tag 'ivy-config.png', :class => 'aligncenter' %>
          <h4 class="center-col">A flexible design with easy customization</h4>
          <p class="center-col">Ivy stays out of the way with a design is that feels natural on top of any visual style. Plus, you can tailor most of this simple sharing experience with our intuitive dashboard.</p>
          <hr />
        </div>
        <div class="by-filament">
          <h2>And it’s Filament, so installing is as easy as drag and drop.</h2>
          <a href="#" class="primary-cta">Install now</a>
        </div>
      </div>

      <div class="how-filament-works container-fluid">
        <div class="container">
          <div class="row how-intro">
            <div class="col-md-8 col-md-offset-2">
              <h3>Filament is the app store for your website.</h3>
              <p>Easily find and install awesome new tools and services for your website to make it perform better.</p>
            </div>
          </div>
          <div class="show-how-container">
            <div class="row">
              <div class="col-md-4 step">
                <p>Choose an app</p>
                <%= image_tag 'pick-app.png', :class => "pick-app" %>
              </div>
              <div class="col-md-4 step site">
                <div>
                  <p>Enter your website</p>
                  <form>
                    <input type="text" name="your-site" placeholder="buzzzword.io" />
                  <button>Go</button>
                  </form>
                </div>
              </div>
              <div class="col-md-4 step">
                <p>Drag-n-drop onto your site</p>
                <%= image_tag 'drag-n-drop.png' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if content_for?(:related) %>
      <div class="other-filament-apps container-fluid" data-show="related">
        <div class="row">
          <div class="apps-toggle">

            <a href="#" id="show-related-apps">Related Apps</a>

            <span class="apps-toggle-bezel">
              <span class="toggle">&nbsp;</span>
              <!-- <a href="#" class="toggle-slider">Toggle Goes here</a> -->
            </span>

            <a href="#" id="show-all-apps">View all Apps</a>

          </div>

          <div class="related-apps shown">
            <h2><%= current_page.data.app_headline %></h2>
            <%= yield_content :related %>
          </div>

          <div class="all-apps">
            <%= partial "filament-apps"  %>
          </div>

        </div>
      </div>
      <% end %>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.10.1.min.js"><\/script>')</script>

      <%= javascript_include_tag  "all", "bootstrap" %>
    </body>
</html>
